@import "./scss/typography.scss";

// declear variable
$background: #f5ede3;

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: $background;

  font-weight: normal;
  font-family: "BwGradual", sans-serif;
}

html {
  height: -webkit-fill-available;
}

// Animation
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
