@font-face {
  font-family: "BwGradual";
  font-weight: normal;
  src: url("/fonts/BwGradual-Regular.ttf");
}

@font-face {
  font-family: "BwGradual";
  font-weight: bold;
  src: url("/fonts/BwGradual-Medium.ttf");
}

.font-normal {
  font-weight: normal;
  font-family: "BwGradual", sans-serif;
}

.font-bold {
  font-weight: bold;
  font-family: "BwGradual", sans-serif;
}
