@font-face {
  font-family: "font-primary-normal";
  src: url("/fonts/SansSerifFLF-Demibold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "font-primary-bold";
  src: url("/fonts/SansSerifBldFLF.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "font-secondary-normal";
  src: url("/fonts/BwGradual-Medium.ttf") format("truetype");
  font-display: swap;
}

.font-primary-normal {
  font-family: "font-primary-normal", sans-serif;
}

.font-primary-bold {
  font-family: "font-primary-bold", sans-serif;
}

.font-secondary-normal {
  font-family: "font-secondary-normal", sans-serif;
}
